.image-width {
    min-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}

.limit-img {
    max-height: 250px;
    max-width: 250px !important;
    height: 15vw !important;
    width: 15vw;
}
