.card {
    border-radius: 10px;
}

.debate-form-container {
    width: 40%;
    margin: 1% auto;
    padding-bottom: 1%;
}

.no-borders {
    border-collapse: separate !important;
}

table.radio-button-class tbody tr td label {
    font-size: 1rem;
    color: black !important;
}

[type="radio"]:checked + span::after {
    background-color: var(--selected-button);
    border: var(--selected-button);
}

.btn,
.btn-large {
    display: flex;
    justify-content: center;
    background: #212d40;
}

.btn:hover,
.btn-large:hover {
    background-color: var(--selected-button);
}
