.order-by-container-with-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 10px;
    width: 100%;
    text-transform: capitalize;
}

.order-by-header {
    color: white;
}

.order-by-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    align-items: flex-end;
}

.select-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-bottom: 2%; */
}

.date-picker-container {
    display: flex;
    margin-bottom: 3%;
}
