{
    "semi": true,
    "printWidth": 80,
    "tabWidth": 4,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "proseWrap": "preserve",
    "arrowParens": "always",
    "endOfLine": "auto",
    "overrides": [
        {
            "files": "*.json",
            "options": {
                "singleQuote": false
            }
        },
        {
            "files": ".*rc",
            "options": {
                "singleQuote": false,
                "parser": "json"
            }
        }
    ],
    "importOrder": [
        "^react$",
        "^react-dom$",
        "^react-router-dom$",
        "^axios$",
        "^@mui$",
        "^\\w$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}