.landing-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.landing-container .explore-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 90%;
    margin-bottom: 30px;
}

.landing-container .trending-debates-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.landing-container .about-container {
    display: flex;
    margin-top: 30px;
    width: 90%;
    margin-bottom: 30px;
}
