:root {
    --primary-color: #212D40;
    --secondary-color: #D66853;
    --white: white;
    --badge-color: #364156;
    --error: red;
    --champagne-pink: #f1ddcf;
    --charcoal: #364156;
    --selected-button: #4076bd;
    --forColor: #abcbe5;
    --againstColor: var(--champagne-pink);
    --text-color: var(--white);
}

.navbar-background {
    height: 100%;
}

.explore-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trending-debates-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-top: 2rem;
    margin-bottom: 2rem; */
}