.list-item {
    margin-bottom: 2%;
    width: 100%;
}

a.card {
    display: block;
}

.debate-text-holder {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    height: fit-content;
    padding-bottom: 4%;
}

.limit-img-sm {
    max-width: 150px !important;
    max-height: 150px;
    width: 10vw;
    height: 10vw !important;
}
