:root {
    --primary-color: #212D40;
    --secondary-color: #D66853;
    --white: white;
    --badge-color: #364156;
    --error: red;
    --champagne-pink: #f1ddcf;
    --charcoal: #364156;
    --selected-button: #4076bd;
    --forColor: #abcbe5;
    --againstColor: var(--champagne-pink);
    --text-color: var(--white);
}

.text-container {
    display: flex;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
}

.chip {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}