:root {
    --primary-color: #212D40;
    --secondary-color: #D66853;
    --white: white;
    --badge-color: #364156;
    --error: red;
    --champagne-pink: #f1ddcf;
    --charcoal: #364156;
    --selected-button: #4076bd;
    --forColor: #abcbe5;
    --againstColor: var(--champagne-pink);
    --text-color: var(--white);
}

.text-container {
    display: flex;
    color: var(--text-color);
    justify-content: center;
    align-items: center;
}

.chip-class {
    background-color: transparent;
    color: var(--text-color) !important;
    box-shadow: 0 1.5px #999 !important;
    text-transform: uppercase !important;
    width: 100%;
    font-weight: 700;
}

.chip-class:hover {
    background-color: var(--primary-color) !important;
}

.chip-class:active {
    background-color: var(--primary-color) !important;
    box-shadow: 0 0.75px #666 !important;
    transform: translateY(0.75px) !important;
}

.chip-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}