:root {
    --text-color: var(--white);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background: var(--primary-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
}

.container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
}

.navbar-logo {
    justify-self: start;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar-logo-img {
    height: 80%;
    margin-right: 0.5rem;
}

.navbar-icon {
    margin-right: 0.5rem;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
    justify-content: flex-end;
}

.nav-item {
    height: 80px;
    border-bottom: 2px solid transparent;
}

.nav-item:hover {
    border-bottom: 2px solid var(--secondary-color);
}

.nav-links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    height: 100%;
}

.activated {
    color: var(--secondary-color);
    font-weight: 600;
}

.fa-bars {
    color: #fff;
}

.menu-icon {
    display: none;
}