.footer-component-container {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-around;
    background-color: var(--primary-color);
    color: white;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    bottom: 0;
}
