.moderator-container {
    width: 40%;
    margin: 1% auto;
    padding-bottom: 1%;
    text-align: left;
}

@media screen and (max-width: 900px) {
    .moderator-container {
        width: 95%;
    }
}
