:root {
    --primary-color: #212d40;
    --secondary-color: #d66853;
    --white: white;
    --badge-color: #364156;
    --error: #f44336;
    --champagne-pink: #f1ddcf;
    --charcoal: #364156;
    --selected-button: #4076bd;
    --forColor: #abcbe5;
    --againstColor: var(--champagne-pink);
}

body {
    background: var(--secondary-color);
}

.error {
    color: var(--error) !important;
    font-size: 12px;
}

.card {
    border-radius: 10px;
}

/* Buttons */
.btn,
.btn-large {
    display: flex;
    justify-content: center;
    background: #212d40;
}

.btn:hover,
.btn-large:hover {
    background-color: var(--selected-button);
}

.chip {
    background: var(--primary-color);
    color: white;
    text-transform: capitalize !important;
}

/* Debate */
.debate-info-holder {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    align-items: center;
}

.debate-holder-separator {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
}

.debate-title {
    padding-bottom: 1%;
    margin: 0;
}

.debate-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1%;
}

.image-width {
    min-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2%;
}

.limit-img {
    max-height: 250px;
    max-width: 250px !important;
    height: 15vw !important;
    width: 15vw;
}

/* Login and Register */
.login-container {
    width: 40%;
    margin: 1% auto;
    padding-bottom: 1%;
}

label.input-label.active {
    background: var(--white);
}
