.profile-image {
    position: relative;
    width: 15vw;
    height: 15vw;
    overflow: hidden;
    border-radius: 50%;
    margin: 5%;
}

.profile-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
