.category-button {
    border-radius: 10px;
    width: 100%;
    margin: 1em 0;
}

.badge-margin {
    margin-top: 1%;
}

.collection {
    border: none;
}

.collection a.active {
    background-color: var(--primary-color) !important;
    color: white !important;
}

.collection a {
    color: black !important;
}

.collection li.collection-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
}

.collection.with-header {
    border-color: transparent !important;
    border-collapse: collapse !important;
}
